/* Backgrounds */

.bg-dark-01 {
  background-color: #7800a8;
}

.bg-dark-02 {
  background-color: #723989;
}

.bg-dark-03 {
  background-color: #653c76;
}

.bg-dark-04 {
  background-color: #70547b;
}

.bg-light-01 {
  background-color: #e6a6ff;
}

.bg-light-02 {
  background-color: #f4d8ff;
}

.bg-light-03 {
  background-color: #dd87ff;
}

/* Backgrounds Cards */

.bg-card-01 {
  background-color: #df8fff;
}

.bg-card-01 {
  background-color: #df8fff;
}

.bg-button-01 {
  background-color: #e7aaff;
}

.bg-reflection-01 {
  background-color: #f2d2ffb9;
}

/* Gradients */

.bg-gradient-01 {
  background: linear-gradient(
    90deg,
    rgb(51, 7, 69) 0%,
    rgb(224, 147, 255) 100%
  );
}


.bg-gradient-02 {
  background: linear-gradient(
    90deg,
    rgb(236, 187, 255) 0%,
    rgb(215, 106, 255) 100%
  );
}
