
/* Swiper Styles */

.swiper-button-next:after, .swiper-button-prev:after {
    color: rgb(98, 38, 110);
}

.swiper-button-next:after {
  padding-right: 50px;
}

.swiper-button-prev:after {
  padding-left: 50px;
}

.swiper-pagination-bullet-active{
  background-color: rgb(204, 121, 255) !important;
}