@import "tailwindcss";

html {
  font-weight: 300;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 236, 254);
}

/* Colors Text */

.text-nav {
  color: rgb(80, 5, 79);
}

.text-dark-01 {
  color: var(--text-primary);
}

.text-light-01 {
  color: #330645;
}

/* Backgrounds */

.bg-dark-01 {
  background-color: #f5dcff;
}

/* Backgrounds Cards */

.bg-card-01 {
  background-color: #df8fff;
}

/* Letter spacing */

.tracking-brand {
  letter-spacing: -1.2px;
}

.tracking-title {
  letter-spacing: -1.0px;
}

.tracking-sub {
  letter-spacing: -0.9px;
}

.tracking-paragraph {
  letter-spacing: -0.6px;
}

/* Fonts text */

.font-cormorant {
  font-family: var(--font-cormorant-garamond);
}

.font-lexend {
  font-family: var(--font-lexend-deca);
}

.font-ballet {
  font-family: var(--font-ballet);
}


/* Background */

.wave {
    clip-path: polygon(0, 0, 200% 0, 100% 25%, 0 100%);
}