@import "tailwindcss";

html {
  font-weight: 300;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 236, 254);
}

.text-nav {
  color: rgb(80, 5, 79);
}

.tracking-brand {
  letter-spacing: -1.2px;
}

.font-cormorant {
  font-family: var(--font-cormorant-garamond) sans-serif;
}

.font-lexend {
  font-family: var(--font-lexend-deca) sans-serif;
}

/* Background */
